body{
	background: rgb(2,0,36);
	/*background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
	font-family: 'Roboto';
	height: 95vh;
}
header{
    background: url("../header.jpg") bottom center;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-bottom: 150px;
}
.flex-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.group-box{
	display: none;
	background-color: rgba(230,230,230,0.8);
	color: #333;
	width: 300px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	transition: all 0.5s;
	margin: 10px;
}
.group-box:hover{
	transform: scale(1.1);
	cursor: pointer;

}
.title{
	font-size: 36px;
	font-weight: bold;
}
.infos{
	border-top: 1px grey ridge;
	font-size: 20px;
	padding: 5px;
}

/* Custom Fundation */
.top-bar, .top-bar ul {
    background-color: transparent;
}
.top-bar > * > .menu{
	color: #fff;
	font-weight: bold;
}

.primary-text{
	color:#0fc8ff;
}
.secondary-text{
	color: #feb916;
}
/* Circular Menu */
/** code by webdevtrick ( https://webdevtrick.com ) **/
body {
   padding: 0;
   margin: 0;
   background: #333;
   color: #EEEEEE;
   text-align: center;
   font-family: "Lato", sans-serif;
}
 
a {
   color: inherit;
}
.expandmenu {
   display: none;
}
 
.circular-menu-item {
   border-radius: 100%;
   width: 100px;
   height: 100px;
   margin-left: -40px;
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   line-height: 100px;
   -webkit-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-transition: -webkit-transform ease-out 200ms;
   transition: -webkit-transform ease-out 200ms;
   transition: transform ease-out 200ms;
   transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}
 
 
.circular-menu {
   margin: auto;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 80px;
   height: 80px;
   text-align: center;
   box-sizing: border-box;
   font-size: 26px;
}
 .circular-menu > label{
 	position: relative;
 	color: #fff;
 	font-weight: bold;
 	text-align: center;
 	padding: 11px 0 0 11px;
 }
.circular-menu-item {
   z-index: 2;
   font-weight: bold;
   -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -webkit-transition-duration: 400ms;
   transition-duration: 400ms;
   -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   transform: scale(1.1, 1.1) translate3d(0, 0, 0);
   cursor: pointer;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
}
 
.circular-menu > .circular-menu-item:hover {
   transform: scale(1.2);
}
 
.circular-menu >  .circular-menu-item {
   -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
   transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
 
.circular-menu > .circular-menu-item:nth-child(1) {
   transition-duration: 180ms;
   -webkit-transition-duration: 180ms;
   -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
   transform: translate3d(20.08361px, -124.99997px, 0);
}
 
.circular-menu > .circular-menu-item:nth-child(2) {
   transition-duration: 280ms;
   -webkit-transition-duration: 280ms;
   -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
   transform: translate3d(110.9466px, -52.47586px, 0);
}
 
.circular-menu >  .circular-menu-item:nth-child(3) {
   transition-duration: 380ms;
   -webkit-transition-duration: 380ms;
   -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
   transform: translate3d(110.9466px, 62.47586px, 0);
}
 
.circular-menu >  .circular-menu-item:nth-child(4) {
   transition-duration: 480ms;
   -webkit-transition-duration: 480ms;
   -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
   transform: translate3d(-20.08361px, 124.99997px, 0);
}
 
.circular-menu >  .circular-menu-item:nth-child(5) {
   transition-duration: 580ms;
   -webkit-transition-duration: 580ms;
   -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
   transform: translate3d(-110.86291px, 52.62064px, 0);
}
 
.circular-menu >  .circular-menu-item:nth-child(6) {
   transition-duration: 680ms;
   -webkit-transition-duration: 680ms;
   -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
   transform: translate3d(-110.03006px, -62.33095px, 0);
}
 
 
.primary-circle {
   background-color: #0fc8ff;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
   transition: 1s ease;
}
 
.primary-circle:hover {
   background-color: #ddd;
   text-shadow: none;
}
 
.secondary-circle {
   background-color: #feb916;
   box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.14);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
   transition: 1s ease;
}
 
.secondary-circle:hover {
   background-color: #ddd;
   text-shadow: none;
}

@media screen and (max-width: 700px) {
   body {
      padding: 170px 0 0 0;
      width: 100%
   }
}
